body{
  margin:0px;
  background-color:#fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
header{
    position:sticky;
    background-color:#0060FA;
    color:#fafafa;
    border:1px;
    border-style:solid;
    border-color:#555555;
    width:100%;
    margin:0px;
    margin-bottom:10px;
    top:0px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0.25em;
    padding-left:0px;
    padding-right:0px;
    overflow:auto;
  }
  h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .CompanyName{
    display:flex;
    padding:3px;
    font-size:x-large;
    justify-content:space-between;
  }
  .HeaderLinks{
    display:flex;
    justify-content:space-evenly;
  }
  .kimberlyclarklogo{
    width:25em;
    height:3em;
    margin-left:5px;
  }
  .searchform{
    width:20em;
    height:3em;
    margin:10px;
  }
  input:focus{
    background-color:grey;
  }
  a{
    color:#fafafa;
  }
  a:link{
    text-decoration:none;
  }
  a:hover{
    color:#8200F0;
  }
  .sitecontentwrapper{
    display:grid;
    grid-template-columns: 10px max-content auto auto auto; 
    grid-template-rows:auto auto auto auto;
    gap:10px;
  }
  .tableopener{
    color:#4100FA;
    grid-row:1;
    grid-column:2;
    text-align:left;
  }
  .brandtable{
    font-size:larger;
    color:#4100FA;
    margin:0;
    grid-column: 2;
    grid-row: 2;
}
table,th,td{
    border:3px solid;
    border-collapse:collapse;
    border-color: #4100FA;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}
.tableimage{
  width:400px;
  height:250px;
}
.seeall{
  background-color:#9200FA;
  color:#fafafa;
  padding:20px;
  grid-row: 3;
  grid-column: 2;
  width:140px;
  text-align:center;
  border-radius:50%;
}