body{
  margin:0px;
  background-color:#fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
header{
    position:sticky;
    background-color:#0060FA;
    color:#fafafa;
    border:1px;
    border-style:solid;
    border-color:#555555;
    margin:0px;
    margin-bottom:10px;
    top:0px;
    display:inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0.25em;
    padding-left:0px;
    padding-right:0px;
    overflow:auto;
    width:100%;
  }
  h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .CompanyName{
    display:flex;
    padding:3px;
    font-size:x-large;
    justify-content:space-between;
  }
  .HeaderLinks{
    display:flex;
    justify-content:space-evenly;
  }
  .kimberlyclarklogo{
    width:25em;
    height:3em;
    margin-left:5px;
  }
  .searchform{
    width:20em;
    height:3em;
    margin:10px;
  }
  input:focus{
    background-color:grey;
  }
  a{
    color:#fafafa;
  }
  a:link{
    text-decoration:none;
  }
  a:hover{
    color:#8200F0;
  }
  .sitecontentwrapper{
    display:grid;
    grid-template-columns: 20px auto auto auto auto; 
    grid-template-rows:auto auto auto auto;
    gap:30px;
  }
  .tableinfo{
    color:#4100FA;
    grid-row:1;
    grid-column:2;
    text-align:left;
    padding:10px;
    line-height:2;
  }
  .brandtable{
    font-size:larger;
    color:#4100FA;
    margin:0;
    grid-column: 2;
    grid-row: 2;
}
table,th,td{
    border:3px solid;
    border-collapse:collapse;
    border-color: #4100FA;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}
.tableimage{
  width:400px;
  height:250px;
}
.seeall{
  background-color:#9200FA;
  color:#fafafa;
  padding:20px;
  display:block;
  width:140px;
  text-align:center;
  border-radius:50%;
  margin-top:20px;
}
.missionstatement{
  grid-column:3 / 4;
  grid-row:1;
  width:600px;
  border-style:solid;
  border-color:#535EFA;
  border-width:2px;
  background-color: #3c3c3c;
  padding:10px;
  color:#535EFA;
  padding-top:0px;
}
.seemore{
  background-color:#9200FA;
  color:#fafafa;
  padding:20px;
  width:60px;
  height:40px;
  text-align:center;
  border-radius:50%;
  grid-column:4;
  grid-row:1;
}
.kclocations{
  grid-column:3 / 5;
  grid-row:2;
}
.map{
  width:725px;
  height:500px;
  border-style:solid;
  border-color:#555555;
  border-width:3px;
}
.seemap{
  background-color:#9200FA;
  color:#fafafa;
  padding:20px;
  width:100px;
  height:auto;
  text-align:center;
  border-radius:50%;
  display:block;
  margin-top:5px;
}
.locationlist{
  display:block;
  color:#0113FA;
  margin-left:50px;
}
.office{
  width:650px;
  height:400px;
  border-style:solid;
  border-color:#555555;
  border-width:2px;
}
.newssection{
  grid-row:3;
  grid-column:2;
  color:#00AEFA;
  background-color:#555555;
  text-align:center;
  border-style:solid;
  border-color:#00AEFA;
  border-width:3px;
  padding:10px 20px 10px 20px;
}
.news{
  width:550px;
  height:500px;
}
.newsdescription{
  display:block;
  padding-top:5px;
}