/* Color scheme: #0060FA, #8200F0, #4100FA, #7D00D6, #CBCBFB, #00BBFF, #0113FA */
body{
  margin:0px;
  background-color:#fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style:normal;
  line-height:1;
}
header{
    position:sticky;
    background-color:#0060FA;
    color:#fafafa;
    border:1px;
    border-style:solid;
    border-color:#555555;
    margin:0px;
    margin-bottom:10px;
    top:0px;
    display:inline-block;
    padding:0;
    padding-left:0px;
    padding-right:0px;
    overflow:auto;
    width:100%;
  }
  h2{
    font-family: "Poppins", sans-serif;
  font-style: normal;
  }
  h3{
    font-family: "Poppins", sans-serif;
    font-weight:500;
  font-style: normal;
  }
  /* Font embed code from https://fonts.google.com/selection/embed */
  .CompanyName{
    display:flex;
    padding:3px;
    font-size:x-large;
    justify-content:space-between;
  }
  .HeaderLinks{
    display:flex;
    justify-content:space-evenly;
  }
  .kimberlyclarklogo{
    width:60%;
    height:100%;
    margin-left:5px;
  }
  .searchform{
    width:45%;
    height:70%;
    margin:10px;
  }
  input:focus{
    background-color:grey;
  }
  a.pagelinks{
    color:#fafafa;
  }
  a.pagelinks:link{
    text-decoration:none;
  }
  a.pagelinks:hover{
    color:#8200F0;
  }
  .sitecontentwrapper{
    display:grid;
    grid-template-columns:1% 50% 50%; 
    grid-template-rows:auto auto auto auto;
    column-gap:1%;
    row-gap:0.5%;
    overflow:auto;
  }
  .tableinfo{
    color:#4100FA;
    grid-row:1;
    text-align:left;
    padding:5%;
    padding-top:0;
    line-height:3;
  }
  .brandtable{
    color:#4100FA;
    margin:0;
    grid-row:2;
}
.tablewrapper{
  width:90%;
  height:100%;
  grid-column:2;
  grid-row:1 / 3;
}
table,th,td{
    border:3px solid;
    border-collapse:collapse;
    border-color: #4100FA;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    background-color:#ebebeb;
    font-size:larger;
}
table{
  width:100%;
  height:90%;
}
.tableimage{
  width:90%;
  height:90%;
}
.seeall{
  background-color:#7D00D6;
  color:#fafafa;
  padding:3%;
  display:block;
  width:30%;
  text-align:center;
  border-radius:50%;
  margin-top:2%;
}
.missionstatement{
  grid-column:3;
  grid-row:1;
  width:90%;
  height:100%;
  line-height:1.5;
}
.missionstatementwrapper{
  border-style:solid;
  border-color:#CBCBFB;
  border-width:2px;
  background-color: #3c3c3c;
  padding:5%;
  color:#CBCBFB;
  display:block;
  padding-top:0px;
}
.learnmore{
  background-color:#7D00D6;
  display:block;
  color:#fafafa;
  padding:3%;
  width:20%;
  text-align:center;
  margin-top:1%;
  border-radius:50%;
  grid-column:2;
  grid-row:1;
}
.kclocations{
  grid-column:3;
  grid-row:2;
  color:#0113FA;
}
.map{
  width:90%;
  height:25%;
  border-style:solid;
  border-color:#555555;
  border-width:3px;
}
.seemap{
  background-color:#7D00D6;
  color:#fafafa;
  padding:3%;
  width:40%;
  height:auto;
  text-align:center;
  border-radius:50%;
  display:block;
  margin-top:5px;
}
.locationlist{
  display:block;
  color:#0113FA;
}
.office{
  margin-top:0;
  margin-left:5%;
  width:70%;
  border-style:solid;
  border-color:#555555;
  border-width:2px;
}
.newssection{
  grid-row:3;
  grid-column:2;
  color:#00BBFF;
  text-align:center;
  border-style:solid;
  border-color:00BBFF;
  border-width:3px;
  margin-top:0.5%;
  height:100%;
  width:90%;
  background-color:#2E2E2E;
}
.news{
  width:100%;
  height:80%;
}
.careerinfo{
  padding:1%;
  grid-row:3;
  grid-column:3;
  width:80%;
  height:97%;
  background-image: url(Images/ScientistWorking.png);
  background-size:cover;
  border-style:solid;
  border-color:#4100FA;
  border-width:3px;
  color:#4100FA;
}
.viewall{
  background-color:#7D00D6;
  color:#fafafa;
  padding:3%;
  width:20%;
  margin-top:1%;
  text-align:center;
  border-radius:50%;
  display:block;
  grid-column:2;
}
.explore{
  background-color:#7D00D6;
  color:#fafafa;
  padding:3%;
  width:25%;
  text-align:center;
  border-radius:50%;
  grid-column:3;
  display:block;
  grid-row:4;
}
a.actionbuttons{
  color:#fafafa;
}
a.actionbuttons:link{
  text-decoration:none;
}
footer{
  display:grid;
  grid-template-columns:1fr 20% 1fr 20% 1fr 20% 1fr;
  color:#0113FA;
  gap:10px;
}
.firstfooter{
  width:auto;
  grid-column:2;
}
.secondfooter{
  width:auto;
  grid-column:4;
}
.thirdfooter{
  width:auto;
  grid-column:6;
}
.footerlines{
  display:block;
}
.logo{
  width:50px;
  height:50px;
  margin:10px;
}
@media (max-width: 800px) {
  .sitecontentwrapper{
    display:grid;
    grid-template-columns:50px 1fr 10px;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto;
    row-gap:1%;
  }
  .office{
    width:80%;
  }
  .tableinfo{
    grid-column:2;
    grid-row:1;
  }
  .brandtable{
    grid-column:2;
    grid-row:2;
  }
  .missionstatement{
    grid-column:2;
    grid-row:4;
  }
  .kclocations{
    grid-column:2;
    grid-row:5;
  }
  .office{
    grid-column:2;
    grid-row:6;
  }
  .newssection{
    grid-column:2;
    grid-row:7;
  }
  .viewall{
    grid-column:2;
    grid-row:8;
  }
  .careerinfo{
    grid-column:2;
    grid-row:9;
  }
  .explore{
    grid-column:2;
    grid-row:10;
  }
}
@media (max-width: 650px) {
  .searchform{
    display:none;
  }
  .kimberlyclarklogo{
    width:100%;
    height:100%;
  }
  header{
    text-align:center;
    height:10rem;
    overflow-y:auto;
  }
  .HeaderLinks{
    display:grid;
    grid-template-rows:auto auto auto auto auto;
  }
  .headeritem1{
    grid-row:1;
  }
  .headeritem2{
    grid-row:2;
  }
  .headeritem3{
    grid-row:3;
  }
  .headeritem4{
    grid-row:4;
  }
  .headeritem5{
    grid-row:5;
  }
}
@media (max-width: 1030px){
  .news{
    width:100%;
    height:75%;
  }
}
@media (max-width: 800px){
  .news{
    width:100%;
    height:80%;
  }
}
@media (max-width: 560px){
  .news{
    width:100%;
    height:75%;
  }
}
@media (max-width: 474px){
  .news{
    width:100%;
    height:65%;
  }
}
